@media (min-width: 768px) {

nav {

display: flex;
flex-direction: row;

}

  #spotlight-container {
    grid-template-columns: repeat(3, 1fr);
  }

#menuButton {

display: none;

}

  .hero-inner h2 {
    font-size: 3rem;
  }

  .hero-inner p {
    font-size: 1.3rem;
  }



  #forecast {
    flex-direction: row;
    justify-content: space-between;
  }

.grid {

grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}

.view-toggle {
text-align: right;
margin-bottom: 1rem;

}


.nav-links{
display:flex !important;
flex-direction:row;
position:static;
background:none;
width:auto;
 gap: 20px;
}

.nav-links a{
padding:6px 0;
}

.nav-links a.active::after{
left:0;
bottom:-6px;
width:100%;
}

}





