
@media (max-width:768px){

.grid{
grid-template-columns:2fr 1fr;
}
nav{
display:flex;
position:static;
flex-direction:row;
background:none;
}

nav a{
padding:15px;
border-top:1px solid #444;
}

#menuBtn{
display:none;
}

nav.open{
display:flex;
}

.course-list{
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
}

}


@media (min-width: 640px){

.course-list{
grid-template-columns:repeat(3, 1fr);
}

}


@media (min-width: 1000px){

.course-list{
grid-template-columns:repeat(6, 1fr);
}

}